.display {
  background: #1e1e2f;
  color: white;
  text-align: right;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  box-shadow: inset 0 0 5px #000;

  .input {
    font-size: 1.8rem;
    min-height: 40px;
  }

  .result {
    font-size: 1.2rem;
    color: #8ef;
  }
}
